<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="icon" href="/static/logo.png">
    <title>Processing the document</title>
    <style>
        body
        {
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div align='center'>
        {% if reffile != None %}
            <a href="{{url_for('.download', filename = reffile)}}" class="btn btn-success" style="width: 40%;">Download processed File</a>
        {% endif %}
        <br><br>
        <h3>The credits page would look like this</h3>
        <hr>
        <img src="/static/img.png" style="width: 60%;height: 60%;">
    </div>
</body>
</html>